<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="/js/stl_viewer.min.js"></script>

<div id="stl_cont_{{ .Get "id" }}" style="width:100%; height:500px; background-color: #1a1a1a;"></div>

<script>
    var stl_viewer = new StlViewer(
        document.getElementById("stl_cont_{{ .Get "id" }}"),
        { 
            models: [ {id: 0, filename: "{{ .Get "src" | safeURL }}"} ],
            // Remove js_path if you load Three.js via CDN like above
            auto_load: true,
            model_color: "#00ff00"
        }
    );
</script>
